## MAC OS
.DS_Store
.idea

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

coverage
rdoc
pkg
.yardoc/*
test/fixtures.yml
Gemfile.lock
*.gem
TAGS
lib/active_merchant/billing/gateways/paypal_adaptive_payments/caller.rb
lib/active_merchant/billing/gateways/paypal_adaptive_payments/profile.rb
lib/active_merchant/billing/gateways/paypal_adaptive_payments/utils.rb
